/*css document*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    font-size: 12px;
    line-height: 24px;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}


/* remember to define focus styles! */

:focus {
    outline: 0;
}

a {
    cursor: pointer;
}


/* remember to highlight inserts somehow! */

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}


/* tables still need 'cellspacing="0"' in the markup */

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*      top start     */

#topBox,
#mainBox,
#main3Box,
#curseBox,
#main5,
#main6,
#msgBox,
#footerBox,
#titleBox {
    width: 100%;
}

#topBox {
    line-height: 70px;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 1px 2px #333;
}

#top,
#box,
#main2,
#main3,
#main4,
#curse,
#footer,
#footer1 {
    overflow: hidden;
    width: 970px;
    margin: 0 auto;
}

#top img {
    float: left;
    width: 115px;
    height: 45px;
    padding-top: 10px;
}

#top ul {
    float: left;
    padding-left: 25px;
    overflow: hidden;
}

#top li {
    float: left;
    padding: 0 25px;
    line-height: 70px;
}

#top li a {
    padding: 25px 0;
    color: #ffffff;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

#top li a span {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #0076db;
    -webkit-box-sizing: border-box;
    transform: scaleX(0);
    opacity: 0;
    transition: all 0.5s;
}

#top a:hover span {
    transform: scaleX(1);
    opacity: 1;
}


/*top  over   banner start     */

#box {
    width: 1280px;
    height: 609px;
    position: relative;
    overflow: hidden;
    /*    margin: 20px auto;*/
}

#ball {
    width: 6400px;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

#ball a {
    width: 1280px;
    height: 609px;
    float: left;
}

#ball img {
    width: 1280px;
    height: 609px;
}

#box h3 {
    position: absolute;
    top: 230px;
    width: 50px;
    height: 124px;
    cursor: pointer;
    display: none;
}

#btn {
    width: 180px;
    overflow: hidden;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#btn li {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    float: left;
    background: #ffffff;
    opacity: 0.2;
    border-radius: 50%;
}

#prev {
    left: 0;
    background: url(../img/hy_left.png) no-repeat center center;
    border-radius: 0 5px 5px 0;
}

#next {
    right: 0;
    background: url(../img/hy_right.png) no-repeat center center;
    border-radius: 5px 0 0 5px;
}


/*    banner over     main  start      */

#mainBox {
    padding-top: 35px;
    overflow: hidden;
    text-align: center;
}

#main1 {
    width: 920px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-bottom: 90px;
    margin-top: 50px;
}

#main1 ul {
    width: 1350px;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#main1 li {
    float: left;
    width: 175px;
    padding: 0 25px;
    color: #666;
    cursor: pointer;
}

#main1 div {
    width: 130px;
    height: 130px;
    margin: 0 auto;
    margin-bottom: 20px;
}

#main1 h1 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    color: #333;
}

#main1 h2 {
    display: inline;
    padding-left: 2px;
    font-weight: normal;
    font-size: 14px;
    color: #333;
}


/*  ----   */

#main1_2 {
    width: 100%;
    height: 290px;
    position: relative;
    text-align: justify;
    margin-bottom: 40px;
    display: none;
}

#main1_2 .ul1 li {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0px;
    left: 0;
    overflow: hidden;
    color: #333;
    z-index: 1;
    display: none;
}

#main1_2 .ul1 h3 {
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
    color: #000;
}

.ser_father {
    width: 1000px;
    margin: 0 auto;
    height: 290px;
    position: relative;
}

.services1,
.services2,
.services3,
.services4,
.services5,
.services6 {
    position: absolute;
    color: #666;
}

#main1_2 .ul1 p {
    line-height: 18px;
}

.services1 {
    top: 105px;
    left: 563px;
}

.services2 {
    top: 75px;
    left: 658px;
}

.services3 {
    top: 128px;
    left: 440px;
}

.services4 {
    top: 128px;
    left: 440px;
}

.services5 {
    top: 140px;
    left: 462px;
}

.services6 {
    top: 145px;
    left: 85px;
}

.services p {
    color: #666;
    line-height: 18px;
}

#main1_2 .ul2 {
    position: absolute;
    bottom: 15px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 4;
    cursor: pointer;
    display: none;
}

#main1_2 .ul2 a {
    width: 12px;
    height: 12px;
    font-size: 1px;
    line-height: 1px;
    display: inline-block;
    margin: 0 3px;
    background: url(../img/hy_poptabbtn.png) 0 0 no-repeat;
}

.about_close,
.about_popclose {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 0;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 20px;
    display: block;
    z-index: 4;
}


/*main1  over      main2 start*/

#main2 {
    text-align: center;
    position: relative;
}

#moreico {
    position: absolute;
    left: 100%;
    top: 11px;
    margin-left: 70px;
}

#moreico:hover {
    transform: rotate(180deg);
    transition: transform 0.2s ease-in 0s;
    -moz-transform: rotate(180deg);
    -moz-transition: transform 0.2s ease-in 0s;
}


/*    mian2 over    main3  start                            */

#main3Box {
    background: #f8f8f8;
    overflow: hidden;
}

#main3 {
    height: 490px;
}

#main3 ul {
    overflow: hidden;
    width: 100%;
    margin-top: 35px;
}

#main3 li {
    float: left;
    font-size: 12px;
    margin-right: 15px;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    background: url(../img/hy_popbg.png);
}

#main3 img {
    position: absolute;
    top: 0;
    left: 0;
}

#main3 li h1 {
    color: #dadada;
    padding: 5px 0 2px 10px;
    font-weight: normal;
}

#main3 li p {
    color: yellow;
    padding: 0 0 0 10px;
}

#main3 .li1,
#main3 .li1 img {
    width: 130px;
    height: 190px;
}

#main3 .li2,
#main3 .li2 img {
    width: 130px;
    height: 160px;
}

#main3 #dl {
    margin-top: 50px;
    overflow: hidden;
    width: 100%;
    text-align: center;
}

#main3 span {
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-left: 18px;
    border-radius: 50%;
    cursor: pointer;
    background: url(../img/hy_poptabbtn.png) 0 0 no-repeat;
}


/*     main3  over   main4 start     */

#main4 {
    text-align: center;
    margin-top: 40px;
}

#main4_img {
    text-align: center;
    margin-top: 50px;
}

#main4_img a {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 310px;
    height: 139px;
    padding-right: 10px;
}

#main4_img img {
    position: absolute;
    left: 0;
    top: 0;
    width: 310px;
    height: 139px;
}


/*   main4_img  over     main5   start      */

#main5 {
    height: 90px;
    text-align: center;
    position: relative;
    margin-top: 20px;
    overflow: hidden
}

#arrow {
    position: absolute;
    left: -5%;
    top: 0;
    z-index: 10;
    padding: 20px;
    border-radius: 50%;
    border: 5px solid #eee;
    background: #fff url(../img/hy_arrow.png) no-repeat center center;
    cursor: pointer;
}

#arrow:hover {
    border-color: #bbb;
}

#main5 span {
    margin-left: 50%;
    display: block;
    width: 10px;
    height: 10px;
    background: #eaeaea;
    margin-top: 10px;
    border-radius: 50%;
}


/*main5  over   curse  start     */

#curseBox {
    background: #f8f8f8;
}

#curse dl {
    line-height: 28px;
    float: left;
    width: 180px;
    border-right: 1px solid #e6e5e5;
    padding: 40px 40px 35px 80px;
}

#curse dt {
    padding-bottom: 10px;
}

#curse dt i {
    font-size: 21px;
    font-style: normal;
}

#curse dt b {
    color: #fdd813;
    font-size: 14px;
    font-weight: normal;
    padding-left: 5px;
}


/*curse   over      main6   start     */

#main6 {
    height: 461px;
    position: relative;
}

#main6 img {
    width: 100%;
    height: 100%
}

#main6 #img_focus {
    width: 296px;
    height: 296px;
    position: absolute;
    z-index: 50;
    left: 600px;
    top: 80px;
}


/*main6   over    msg  start          */

#msgBox {
    display: none;
    overflow: hidden;
}

#titleBox {
    background: url(../img/hy_topbg.jpg) center center;
}

#title {
    width: 925px;
    padding: 20px 0 45px 45px;
    position: relative;
    margin: 0 auto;
}

#title h1 {
    color: #fff;
    font: bold 34px Consolas;
    line-height: 64px;
}

#title p {
    width: 290px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
    padding-left: 5px;
}

#title ul {
    position: absolute;
    right: 0;
    bottom: -38px;
}

#title ul li {
    float: left;
    width: 82px;
    height: 82px;
    margin-right: 28px;
    background: url(../img/hy_tabico.png) 0 -85px;
    cursor: pointer;
}

#title #li8 {
    background: url(../img/hy_tabico.png) 0 0;
}

#msg {
    width: 640px;
    margin: 0 auto;
    padding: 70px 0 50px 330px;
    background: url(../img/hy_msgtop.png) no-repeat left 70px;
    overflow: hidden;
}

#msg p {
    line-height: 45px;
    font-size: 20px;
    color: #333333;
}

#msg span {
    line-height: 28px;
    padding-bottom: 5px;
    color: #666666;
    width: 620px;
    display: block;
}

#msg h1 {
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    line-height: 28px;
    margin-top: 20px;
}


/*msg  over       footer  start    */

#footerBox {
    background: #202020;
}

#footer {
    padding: 20px 0;
    background: url(../img/hy_footer.jpg) no-repeat 540px 180px;
}

#footer p {
    width: 950px;
    line-height: 40px;
    color: #195ff9;
    font-size: 18px;
    padding-left: 10px;
    float: left;
}

#footer ul {
    overflow: hidden;
    float: left;
    width: 970px;
}

#footer li {
    float: left;
    margin: 6px 0;
    padding: 0 10px;
    border-right: 1px solid #587d58;
    line-height: 12px;
    color: #7d7d7d;
    cursor: pointer;
    transition: all 0.3s;
}

#footer #p2 {
    color: #fdd813;
}

#footer li:hover {
    color: #eee;
}

#footer div {
    color: #eee;
    font-size: 14px;
    padding: 0 10px;
    line-height: 50px;
}

#footer1Box {
    width: 100%;
    background: #0a0a0a;
}

#footer1 {
    color: #999;
}

#footer1 h3:hover {
    color: #eee;
}

#footer1 h2 {
    float: left;
    padding: 0 10px;
    font-weight: normal;
    line-height: 40px;
}

#footer1 h3 {
    float: right;
    padding: 0 2px;
    font-weight: normal;
    line-height: 40px;
    transition: all 0.3s;
}